:root { 
--indigo_400_99:#5564d799; 
--light_blue_300:#64d3ff; 
--red_600:#e04243; 
--gray_800_07:#4c4c4c07; 
--red_401:#c16244; 
--blue_A200:#5288ff; 
--red_400:#ce704c; 
--deep_purple_600:#4f3cc9; 
--green_700:#279044; 
--green_300_19:#91ba8319; 
--red_400_19:#e04b4319; 
--teal_300:#5ac49a; 
--pink_A100:#ff72d2; 
--yellow_A400:#ffe900; 
--gray_400_19:#c6c6c619; 
--deep_orange_300:#ff8b6a; 
--light_blue_A700:#018df0; 
--deep_orange_101:#efc7a5; 
--deep_orange_100:#fec9ac; 
--gray_400:#bac1c1; 
--orange_A201:#f8ad43; 
--orange_A200:#f79a45; 
--amber_301:#f8d24a; 
--amber_302:#ffd166; 
--gray_800:#4f2d2a; 
--gray_801:#3a4146; 
--yellow_50:#fffbed; 
--amber_300:#ffc85f; 
--black_900_0c:#0000000c; 
--blue_50:#e6f1ff; 
--bluegray_800:#36414f; 
--indigo_400:#5564d7; 
--bluegray_402:#868686; 
--bluegray_401:#8d7ea3; 
--bluegray_400:#828fa2; 
--bluegray_200:#c0c7d0; 
--indigo_400_19:#5564d719; 
--blue_100:#d1dcf8; 
--black_900_19:#00000019; 
--blue_101:#caddff; 
--white_A701:#fdfdfd; 
--white_A700:#ffffff; 
--green_700_19:#27904419; 
--indigo_401:#6478d3; 
--gray_52:#f9f4fa; 
--deep_orange_50:#ffebe5; 
--gray_51:#f6f6fe; 
--deep_orange_51:#ffe8e1; 
--red_600_19:#e0424319; 
--light_blue_A200:#42c1f4; 
--red_500:#fe4c40; 
--amber_A200:#ffcf3d; 
--red_51:#fff3ef; 
--red_52:#fff3f0; 
--gray_50:#f8f8f8; 
--teal_200:#8dbad3; 
--red_50:#fff4ef; 
--black_900:#000000; 
--yellow_900:#ff8b17; 
--deep_orange_200:#ffab90; 
--deep_purple_A100:#a288ff; 
--pink_400:#ef466f; 
--gray_501:#9299a4; 
--gray_105:#f5f5f5; 
--gray_106:#f6f6f6; 
--gray_103:#faf4f4; 
--gray_500:#a6a5a5; 
--gray_104:#f4f4fa; 
--indigo_52:#e8e8ff; 
--indigo_53:#eceef9; 
--indigo_50:#e2e8ed; 
--indigo_51:#e4ecf9; 
--gray_900:#22252d; 
--bluegray_900_ad:#2d2d2dad; 
--gray_101:#f3f6fd; 
--gray_102:#f4faf6; 
--gray_300:#e4e6e8; 
--gray_100:#f3f3f3; 
--bluegray_900:#2d2d2d; 
--indigo_100:#bbcaea; 
--bluegray_700:#4a5258; 
--orange_50:#ffeddc; 
--bluegray_300:#7ea8c4; 
--bluegray_902:#2e2e2e; 
--bluegray_901:#2e363a; 
}